.heading {
  display: flex;
  align-items: center;
  font-size: 20px;
  max-width: 350px;
  color: #000;
}
.heading::before,
.heading::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #000;
}
.heading::before {
  margin-right: 1rem;
}
.heading::after {
  margin-left: 1rem;
}